<div class="container">
    <section>
        <h2>Abu Dhabi, United Arab Emirates</h2>
        <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4><strong>Yas Island Rotana</strong></h4>
                                    <ul class="rating">
                                        <li><i class="glyphicon glyphicon-star"></i></li>
                                        <li><i class="glyphicon glyphicon-star"></i></li>
                                        <li><i class="glyphicon glyphicon-star"></i></li>
                                        <li><i class="glyphicon glyphicon-star"></i></li>
                                    </ul>
                                    <div class="location">
                                        <small>
                                          <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                                      </small>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div><strong>Starting from:</strong></div>
                                    <h3 class="price text-danger"><strong>IDR955.172,00</strong></h3>
                                    <div>
                                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h3>Rooms Available</h3>
        <ul class="list-group">
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR955.172,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR955.172,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR955.172,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR955.172,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item hotel-list">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Room Name:</label>
                        <h4>Classic Room, 2 Twin Beds</h4>
                    </div>
                    <div class="col-sm-4 text-right">
                        <label class="control-label">Room Price:</label>
                        <h4 class="price text-danger"><strong>IDR1.048.180,00</strong></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="hotel-book.html" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>